
@import url(http://fonts.googleapis.com/css?family=Raleway);

html, body {
    height: 100%;
}
html {
	background: #000000; 
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}

#main{
width:960px;
margin:50px auto;
}

h2{
background-color: #FEFFED;
text-align:center;
border-radius: 10px 10px 0 0;
margin: -10px -40px;
padding: 15px;
}

hr{
border:0;
border-bottom:1px solid #000;
margin: 10px -40px;
margin-bottom: 30px;
height: 5px;
}

#login{
width:300px;
float: left;
border-radius: 10px;
font-family:raleway;
border: 2px solid #ccc;
padding: 10px 40px 25px;
margin-top: 70px;
display:inline-block; 
background-color: wheat;
}

input[type=text],input[type=email]{
width:99.5%;
padding: 10px;
margin-top: 8px;
border: 1px solid #ccc;
padding-left: 5px;
font-size: 16px;
font-family:raleway;
}

input[type=submit]{
width: 100%;
background-color:#FFBC00;
color: white;
border: 2px solid #FFCB00;
padding: 10px;
font-size:20px;
cursor:pointer;
border-radius: 5px;
margin-bottom: -12px;
}

#formget{
float:right;
}
h1 {
margin-left: -85px;
}
.container {
    margin: 10px;
    width: 97%;
    text-align: center;
}
.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
.data {
	width:700px;
	margin:0 auto;
	display:inline-block;
}
.data-table {
	width: 95%;
	
	padding: 1px;
	background-color: azure;
}
.data-node-head {
	text-align: left;
	width: 20%;
	background-color: beige;
	border-bottom: thin;
	border-bottom-style: groove;
}
.data-node {
	text-align: left;
}
.data-value-head{
	text-align: right;
	width: 20%;
	background-color: beige;
	border-bottom: thin;
	border-bottom-style: groove;
}
.data-value{
	text-align: right;
}
.content {
	background-color: #CCCCCC;
    border-radius: 40px;
	width:800px;
	margin:0 auto;
	padding: 40px;
}

.data tbody tr:nth-child(even) {
  background-color: #A8A8A8 ;
}